@using Spotopedia.Common
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/css/jquery-gmaps-latlon-picker.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/leaflet.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/leaflet-geosearch/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" rel="stylesheet" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Basic -->
    <meta charset="utf-8" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/favicon-32x32.png" type="">
    <title>Famms - Fashion HTML Template</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/theme/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/theme/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/theme/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/theme/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="250" src="~/Images/Spotopedia - Logo - PNG 250px.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Spots" asp-action="Map">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Spots" asp-action="All">Spots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Spots" asp-action="Create">Add Spot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="All">News Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Challenges" asp-action="All">Challenges</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->

    <div class="container-body">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery-gmaps-latlon-picker.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=@Configuration["GoogleMapsApi:ApiKey"]&sensor=false" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/leaflet.js" asp-append-version="true"></script>
    <script src="~/lib/leaflet-geosearch/bundle.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
