@using Spotopedia.Common
<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Haircare - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/theme/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/css/animate.css">
    
    <link rel="stylesheet" href="~/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/css/magnific-popup.css">

    <link rel="stylesheet" href="~/theme/css/aos.css">

    <link rel="stylesheet" href="~/theme/css/ionicons.min.css">

    <link rel="stylesheet" href="~/theme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/theme/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/theme/css/flaticon.css">
    <link rel="stylesheet" href="~/theme/css/icomoon.css">
    <link rel="stylesheet" href="~/theme/css/style.css">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/css/jquery-gmaps-latlon-picker.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/leaflet.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/leaflet-geosearch/style.css" rel="stylesheet" asp-append-version="true"/>
    <link href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" rel="stylesheet" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html"><span class="flaticon-scissors-in-a-hair-salon-badge"></span>Haircare</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
	        	<li class="nav-item"><a asp-area="" asp-controller="Spots" asp-action="Create" class="nav-link">Create Spot</a></li>
	        	<li class="nav-item"><a asp-area="" asp-controller="Spots" asp-action="All" class="nav-link">All Spots</a></li>
	        	<li class="nav-item"><a asp-area="" asp-controller="Spots" asp-action="Map" class="nav-link">Map</a></li>
	        	<li class="nav-item"><a asp-area="" asp-controller="Posts" asp-action="All" class="nav-link">News Feed</a></li>
	          <li class="nav-item"><a asp-area="" asp-controller="Challenges" asp-action="All" class="nav-link">Challenges</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    </header>
    
    <div class="container body-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
  
<script src="~/theme/js/jquery.min.js"></script>
  <script src="~/theme/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/theme/js/popper.min.js"></script>
  <script src="~/theme/js/bootstrap.min.js"></script>
  <script src="~/theme/js/jquery.easing.1.3.js"></script>
  <script src="~/theme/js/jquery.waypoints.min.js"></script>
  <script src="~/theme/js/jquery.stellar.min.js"></script>
  <script src="~/theme/js/owl.carousel.min.js"></script>
  <script src="~/theme/js/jquery.magnific-popup.min.js"></script>
  <script src="~/theme/js/aos.js"></script>
  <script src="~/theme/js/jquery.animateNumber.min.js"></script>
  <script src="~/theme/js/bootstrap-datepicker.js"></script>
  <script src="~/theme/js/jquery.timepicker.min.js"></script>
  <script src="~/theme/js/scrollax.min.js"></script>
  <script src="~/theme/js/google-map.js"></script>
  <script src="~/theme/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery-gmaps-latlon-picker.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAPx2JcdwZpcpUTRCssV2DEURihT8mRsBU&sensor=false" asp-append-version="true"></script>   
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/leaflet.js" asp-append-version="true"></script>
    <script src="~/lib/leaflet-geosearch/bundle.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
