@using Spotopedia.Web.ViewModels.Spots
@model AllSpotsListViewModel

    <style>
        .card {
            align-content: center;
            box-shadow: 0 2px 10px #dfdfdf;
            border-radius: 7px;
            margin: .5rem;
        
        }

        .card-img-top {
            border-radius: 5px;
        }

        .master {
            margin:0 auto;
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }

    </style>

    <section class="inner_page_head">
        <div class="container_fuild">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <h3>All Spots</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>

    <div class="master col-md-10">
        <div class="row justify-content-center">
            @foreach (var spot in Model.Spots)
            {
                <div class="card col-md-3">
                    <br>
                    <img src="@spot.SpotImages.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-action="ById" asp-route-id="@spot.Id"> @spot.Title</a></h5>
                        <p class="card-text">@spot.Description</p>
                    </div>
                </div>
            }
            <br>
            <br>
        </div>
    </div>