@if (this.TempData.ContainsKey("AddNewSpot"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         @this.TempData["AddNewSpot"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<meta charset="utf-8" />
  <title>Showing an ArcGIS basemap</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<style>
  #basemaps-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    background: white;
    padding: 10px;
  }
  #basemaps {
    margin-bottom: 5px;
  }

</style>

<div  class="row justify-content-lg-center">
<div id="map" style="width: 1260px; height: 720px;"></div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

 <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.4.1/dist/esri-leaflet.js"
  integrity="sha512-xY2smLIHKirD03vHKDJ2u4pqeHA7OQZZ27EjtqmuhDguxiUvdsOuXMwkg16PQrm9cgTmXtoxA6kwr8KBy3cdcw=="
  crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">

  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>

<!-- Load Esri Leaflet Vector from CDN -->
  <script src="https://unpkg.com/esri-leaflet-vector@3.1.0/dist/esri-leaflet-vector.js"
    integrity="sha512-AAcPGWoYOQ7VoaC13L/rv6GwvzEzyknHQlrtdJSGD6cSzuKXDYILZqUhugbJFZhM+bEXH2Ah7mA1OxPFElQmNQ=="
    crossorigin=""></script>

<!-- Locate User -->
<link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="//unpkg.com/leaflet-gesture-handling"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {           
            const map = L.map('map', { gestureHandling: true }).setView([42.684653, 23.318529], 6);
            L.esri.Vector.vectorBasemapLayer("ArcGIS:Navigation", {
                // provide either apikey or token
                apikey: "AAPKed4b089e720f45a28dd4f35741962688S93OetKvSnm5xSFVzKUtyFE94c_BialcVX3pNAaPDPbcsAtqiBUShv7wQuDWREo4"
            }).addTo(map);

            /*L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);*/

            var searchControl = L.esri.Geocoding.geosearch({
                position: 'topleft',
                placeholder: 'Enter an address or place.',
                useMapBounds: false,
                providers: [L.esri.Geocoding.arcgisOnlineProvider({
                    apikey: 'AAPKed4b089e720f45a28dd4f35741962688S93OetKvSnm5xSFVzKUtyFE94c_BialcVX3pNAaPDPbcsAtqiBUShv7wQuDWREo4', // replace with your api key 
                    nearby: {
                        lat: -33.8688,
                        lng: 151.2093
                    }
                })]
            }).addTo(map);

            var results = L.layerGroup().addTo(map);

            //Locate User
            
            function onLocationFound(e) {
                var radius = e.accuracy / 2;

                L.marker(e.latlng).addTo(map)
                    .bindPopup("You are here").openPopup();

                L.circle(e.latlng, radius).addTo(map);
            }

            function onLocationError(e) {
                alert(e.message);
            }
        

            map.on('locationfound', function (event) {
                var radius = event.accuracy / 2;
                L.marker(event.latlng, event.accuracy).addTo(map);
                var PopUp = L.popup().
                    setContent("You are here.").
                    setLatLng(event.latlng).addTo(map);
                    L.circle(event.latlng, radius).addTo(map);
            });
            map.on('locationerror', onLocationError);

            L.easyButton('<i class="fas fa-map-marker-alt"></i>', function (btn, map) {
                map.locate({ setView: true, maxZoom: 16 });
            }).addTo(map); 


            $.ajax({
                url: '/Spots/GetAddress',
                success: function (data) {
                        var result = JSON.stringify(data);

                        for (var i = 0; i < result.length; ++i) {
                            var popup = '<br><b><img src="' + data[i].spotSpotImages[0].imageUrl + '" width="100%"><b></br>' +
                                '<br><h5><a href="https://localhost:44319/Spots/ById/' + data[i].spotId + '"target="_blank">' + data[i].spotTitle + '</a></h5></br> ' + data[i].spotDescription;
                                //'<br/><b>Latitude:</b> ' + data[i].latitude +
                                //'<br/><b>Longitude:</b> ' + data[i].longitude;

                            L.marker([data[i].latitude, data[i].longitude])
                                .bindPopup(popup)
                                .addTo(map);
                        }
                       },
                error: function (xhr) {
                    alert("Error has occurred..");
                }
            });
        });
    </script>
}