@model Spotopedia.Web.ViewModels.SpotReports.CreateSpotReportInputModel
@using Spotopedia.Data.Models.Enumerations

@{
    ViewData["Title"] = $"Report Spot: {Model.SpotTitle}";
}

<section class="inner_page_head">
    <div class="container_fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <h3>Report Spot: @Model.SpotTitle</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div class="col-md-4 offset-md-4">
    <div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <textarea asp-for="Description" class="form-control" placeholder="What is wrong with this post?" style="text-transform: none"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <div>
                <select asp-for="SpotReportType" class="form-control">
                    <option selected disabled>Choose a report type.</option>
                    @foreach (int spotReportType in Enum.GetValues(typeof(SpotReportType)))
                    {
                        <option value="@spotReportType">@Enum.GetName(typeof(SpotReportType), spotReportType)</option>
                    }
                </select>
            </div>
            <br>
            <div class="float-right">
                <button type="submit" class="btn btn-outline-primary">Send Report</button>
                <a asp-controller="Spots" asp-action="By" asp-route-id="@Model.ReportedSpotId" class="btn btn-outline-secondary">Cancel</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
