@model Spotopedia.Web.ViewModels.Users.EditUserProfileInputModel
@using Spotopedia.Data.Models.Enumerations

<style>
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    body {
        font-family: sans-serif;
        background-color: #eeeeee;
    }

    .file-upload {
        background-color: #ffffff;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #dfdfdf;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #dfdfdf;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #dfdfdf;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #dfdfdf;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #dfdfdf;
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #dfdfdf;
            padding: 60px 0;
        }

    .file-upload-image {
        max-height: 50%;
        max-width: 50%;
        margin: auto;
        padding: 20px;
    }

    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }
</style>

<form method="post" id="editForm" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="What is your firts name?"></input>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="What is your last name?"></input>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio"></label>
        <textarea asp-for="Bio" class="form-control"></textarea>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
 <div>   
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Gender" class="input-group-text">
                    <i class="fas fa-chevron-down"></i>
                </label>
            </div>
            <select asp-for="Gender" class="form-control">
                <option selected disabled>Whats is your gender?</option>
                @foreach (int gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@Enum.GetName(typeof(Gender), gender)</option>
                }
            </select>
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control"></input>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
 <div>   
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="SportType" class="input-group-text">
                    <i class="fas fa-chevron-down"></i>
                </label>
            </div>
            <select asp-for="SportType" class="form-control">
                <option selected disabled>What is your sport?</option>
                @foreach (int sportType in Enum.GetValues(typeof(SportType)))
                {
                    <option value="@sportType">@Enum.GetName(typeof(SportType), sportType)</option>
                }
            </select>
        </div>
        <span asp-validation-for="SportType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FacebookUrl"></label>
        <input asp-for="FacebookUrl" class="form-control"></input>
        <span asp-validation-for="FacebookUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InstagramUrl"></label>
        <input asp-for="InstagramUrl" class="form-control"></input>
        <span asp-validation-for="InstagramUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TikTokUrl"></label>
        <input asp-for="TikTokUrl" class="form-control"></input>
        <span asp-validation-for="TikTokUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TwitterUrl"></label>
        <input asp-for="TwitterUrl" class="form-control"></input>
        <span asp-validation-for="TwitterUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WebsiteUrl"></label>
        <input asp-for="WebsiteUrl" class="form-control"></input>
        <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
    </div>
   <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' asp-for="ProfileImage"  onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
  </div>
</div>

<div>
    <p></p>
    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts {
   <script>
function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
		$('.image-upload-wrap').addClass('image-dropping');
	});
	$('.image-upload-wrap').bind('dragleave', function () {
		$('.image-upload-wrap').removeClass('image-dropping');
});

</script>
}
