<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <style>

        img {
            width: 100%;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            margin: 100px 0 50px;
        }

        text-center {
            text-align: center;
        }
        /* ID Selector */
        #title {
            font-size: 50px;
            font-family: 'Euphoria Script';
        }

        #about-me-box {
            margin: 50px 0;
            background-color: #fff;
            display: block;
            padding: 0 10px 0 0;
        }

        #check-this-out-box {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 14px;
        }
        
        p{
            margin-left: 20px;
        }

    </style>
</head>

<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="about-me-box">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <img class="max-width-xs" src="https://res.cloudinary.com/defgu4hed/image/upload/v1639766693/2021-12-10-063708781_EDIT_nw3wbp.jpg" width="300" />
                        </div><!-- end col-md-7 -->
                        <div class="col-md-6 col-xs-12">
                            <div class="text-center"><h1>About</h1></div>
                            <p>
                                Hi,
                                I am Rusen Minchev and I am 31 years old cinematographer who is currently exploring the amazing world of C# and .NET. I started learning programming with C# a year and a half ago so the time to build my first ASP.NET Core application has come.
                                <br>
                                <br>
                                I`m very passionate about Rollerblading and extreme sports so that was the main reason my first ASP.NET Core application to be Spotopedia. I wanted to combine my education process with building something useful for the extreme sports community.
                                <br>
                                <br>
                                The main idea of Spotopedia is to allow the users to discover good places to skate everywhere around the world and get in touch with other individuals with the same interests.
                                <br>
                                <br>
                                You can easily meet your global and local skate community so you can go skating and have fun together. Everyone can contribute by adding a new spot, posting some cool photos, or useful information to the News Feed. One of the most important things in Rollerblading, Skateboarding, or any other extreme sport is to have fun that is why Spotopedia has a Challenges section. Get motivated and compete with other people around the world to win cool prizes and have fun while doing different challenges.
                                <br>
                                <br>
                                Enjoy Spotopedia, discover cool spots, and have fun with your friends!
                                :)
                            </p>
                        </div><!-- end col-md-5-->
                    </div><!--end row -->
                </div><!-- end about-me-box -->
            </div><!-- end col-md-12-->
        </div><!-- end row-->
    </div><!-- end container -->
</section>